---
layout: page
title: 
subtitle: 
use-site-title: false
bigimg: 
 - "/img/pale.jpg" :
---
<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
	
<div class="row">
      <div class="col-sm-4">
        <img class="center-block img img-responsive img-thumbnail" src="https://placehold.it/250x250" alt="Image of Dong Quan Vu">

        <p id="title">Postdoctoral Researcher<br>
        </p>

        <table class="table" id="contact-table">
          <tbody>
            <tr>
              <td style="width:22px"><i class="fas fa-home"></i></td>
              <td>
                <a href="https://www.liglab.fr/en">LIG</a>-<a href="https://team.inria.fr/polaris/">POLARIS Team</a><br>
		Bâtiment IMAG,<br>
		Campus of Saint-Martin-d’Hères.<br>
                38000 Grenoble, France
              </td>
	   </tr>
            <tr>
              <td><i class="fas fa-address-card"></i></td>
              <td><a href="www.linkedin.com/in/dquanvu">Linkedin: /in/dquanvu</a></td>
            </tr>
            <tr>
              <td><i class="fas fa-at"></i></td>
              <td style="font-size:12px">dongquan.vu.dqv[at]gmail.com</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="col-sm-8">

        <p>I am an {JOB TITLE} in the {SCHOOL|DEPARTMENT} at {UNIVERSITY|INSTITUTE|COMPANY} where I
          {1st AREA OF RESPONSIBILITY}, {2nd AREA OF RESPONSIBILITY}, and {3rd AREA OF RESPONSIBILITY}. My research and teaching focus on {1st AREA}, {2nd AREA}, {3rd AREA} and {4th AREA}.</p>

        <p>I received my {DEGREE} in {ACADEMIC FIELD} from {NAME OF UNIVERSITY} in {YEAR}. I
          studied {AREAS SPECIFIC TO YOUR FIELD} under the direction of {ADVISOR'S NAME}. There I worked on {DESCRIBE RELEVANT MAJOR PROJECTS IN LATEST GRADUATE DEGREE}.</p>

        <p>I am currently working on {SUMMARY LIST OF PROJECTS} with {COLLABORATORS, IF ANY} through the {UNIVERSITY|INSTITUTE|COMPANY, IF ANY}.</p>

        <div id="read-more">

          <p class="push-down-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dolore doloremque, tenetur temporibus fugit maiores, labore porro nobis laborum animi consectetur omnis cum iure obcaecati voluptatem, eius sunt totam dolorum voluptatibus nostrum doloribus! Ipsa, a, aspernatur tenetur hic eum expedita.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia dolore doloremque, tenetur temporibus fugit maiores, labore porro nobis laborum animi consectetur omnis cum iure obcaecati voluptatem, eius sunt totam dolorum voluptatibus nostrum doloribus! Ipsa, a, aspernatur tenetur hic eum expedita.</p>

        </div>
        <!-- .read-more -->


        <!-- If you don't want a 'read more' section, simple delete the entire span class below -->
        <span class="badge" id="badge-more">more</span>


        <h3 class="push-down-3"><span>Education</span></h3>

        <ul id="education">
          <li>
            Ph.D. in {FIELD}, {YEAR}<br>
            <span class="university"><em>University of Southern California</em></span>
          </li>
          <li>
            M.S. in {FIELD}, {YEAR}<br>
            <span class="university"><em>{UNIVERSITY}</em></span>
          </li>
          <li>
            B.S. in {FIELD}, {YEAR}<br>
            <span class="university"><em>{UNIVERSITY}</em></span>
          </li>

        </ul>

      </div>
    </div>

  </div>


<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tag/{{ tag }}">{{ tag }}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
